img{
    max-height:300px;
    max-width:300px;
    height:auto;
    width:auto;
}

form{
	margin: 3px
	padding: 20px;
}

div{
	margin: 10px;
	padding: 20px;
}
nav.cneter{
margin: auto;
}

h1{
	font-family: "comic sans";
}